In [2]:
import pandas as pd
import os

# Leitura dos arquivos

In [7]:
df_censo = pd.read_csv('./dados/censo.csv', header=0, sep=';')
df_censo.info()
df_censo.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CD_REGIAO      5570 non-null   int64
 1   NM_REGIAO      5570 non-null   object
 2   CD_UF          5570 non-null   int64
 3   NM_UF          5570 non-null   object
 4   CD_MUN         5570 non-null   int64
 5   NM_MUN         5570 non-null   object
 6   Total_setores  5570 non-null   int64
 7   v0001          5570 non-null   int64
 8   v0002          5570 non-null   int64
 9   v0003          5570 non-null   int64
 10  v0004          5570 non-null   int64
 11  v0005          5570 non-null   object
 12  v0006          5195 non-null   object
 13  v0007          5570 non-null   int64
dtypes: int64(9), object(5)
memory usage: 609.3+ KB

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,Total_setores,v0001,v0002,v0003,v0004,v0005,v0006,v0007
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

In [8]:
df_dicionario = pd.read_csv('./dados/dicionario_censo_1.csv')
df_dicionario.head(5)

,VARIÁVEL,TIPO,TAMANHO,DESCRIÇÃO
0,CD_SETOR,texto,16.0,Geocódigo de Setor Censitário
1,AREA_KM2,real,NaN,Área do Setor Censitário em quilômetros quadrados
2,CD_REGIAO,numérico,1.0,Código das Grandes Regiões (Regiões Geográficas)
3,NM_REGIAO,texto,15.0,Nome das Grandes Regiões (Regiões Geográficas)
4,CD_UF,numérico,2.0,Código da Unidade da Federação

In [9]:
df_idh = pd.read_csv('./dados/idh.csv',header=0, sep=';')
df_idh.info()
df_idh.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Territorialidades  188 non-null    object
 1   IDHM 2010          186 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

  Territorialidades IDHM 2010
0            Brasil     0,727
1      Abaiara (CE)     0,628
2      Acarape (CE)     0,606
3       Acaraú (CE)     0,601
4     Acopiara (CE)     0,595

In [10]:
df_votos = pd.read_csv('./dados/votos.csv', encoding='latin1', header=0, sep=';')
df_votos.info()
df_votos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509903 entries, 0 to 2509902
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DT_GERACAO                 object
 1   HH_GERACAO                 object
 2   ANO_ELEICAO                int64
 3   CD_TIPO_ELEICAO            int64
 4   NM_TIPO_ELEICAO            object
 5   NR_TURNO                   int64
 6   CD_ELEICAO                 int64
 7   DS_ELEICAO                 object
 8   DT_ELEICAO                 object
 9   TP_ABRANGENCIA             object
 10  SG_UF                      object
 11  SG_UE                      object
 12  NM_UE                      object
 13  CD_MUNICIPIO               int64
 14  NM_MUNICIPIO               object
 15  NR_ZONA                    int64
 16  NR_SECAO                   int64
 17  CD_CARGO                   int64
 18  DS_CARGO                   object
 19  NR_VOTAVEL                 int64
 20  NM_VOTAVEL                 object
 21  QT_VOTOS                   int64
 22  NR_LOCAL_VOTACAO           int64
 23  SQ_CANDIDATO               int64
 24  NM_LOCAL_VOTACAO           object
 25  DS_LOCAL_VOTACAO_ENDERECO  object
dtypes: int64(12), object(14)
memory usage: 497.9+ MB

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,01/11/2022,16:05:25,2022,2,ELEIÃÃO ORDINÃRIA,1,546,ELEIÃÃES GERAIS ESTADUAIS 2022,02/10/2022,E,...,6,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1023,60001608890,CENTRO COMUNITARIO CONJUNTO SAO FRANCISCO,RUA ILHA DO BOTE 367
1,01/11/2022,16:05:25,2022,2,ELEIÃÃO ORDINÃRIA,1,546,ELEIÃÃES GERAIS ESTADUAIS 2022,02/10/2022,E,...,266,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13,1546,60001608890,ESCOLA MUNICIPAL ZINA MOREIRA,TIMBAUBA NOSSA SENHORA DAS DORES
2,01/11/2022,16:05:25,2022,2,ELEIÃÃO ORDINÃRIA,1,546,ELEIÃÃES GERAIS ESTADUAIS 2022,02/10/2022,E,...,119,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,3,1058,60001608890,EEM ENGENHEIRO AGEU ROMERO,RUA EVARISTO GOMES 143
3,01/11/2022,16:05:25,2022,2,ELEIÃÃO ORDINÃRIA,1,546,ELEIÃÃES GERAIS ESTADUAIS 2022,02/10/2022,E,...,25,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,2,1082,60001608890,EEFM CORONEL MURILO SERPA,RUA ANASTACIO BARROSO VALENTE 318
4,01/11/2022,16:05:25,2022,2,ELEIÃÃO ORDINÃRIA,1,546,ELEIÃÃES GERAIS ESTADUAIS 2022,02/10/2022,E,...,228,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1058,60001608890,E.E.F. MARIA LINDA DA GLÃRIA,DISTRITO FLAMENGO

In [3]:
df_furtos = pd.read_csv('./dados/furtos.csv', header=0, sep=',')
df_furtos.info()
df_furtos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798101 entries, 0 to 798100
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   AIS            798101 non-null  object
 1   Município      798101 non-null  object
 2   Dia da Semana  798101 non-null  object
 3   Data           798101 non-null  object
 4   Hora           798101 non-null  object
dtypes: object(5)
memory usage: 30.4+ MB

      AIS  Município Dia da Semana      Data         Hora
0  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
1  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
2  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
3  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
4  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM

In [4]:
df_mapas_uf = pd.read_csv('./dados/mapas_uf.csv', header=0, sep=',')
df_mapas_uf.info()
df_mapas_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_uf      27 non-null     int64
 1   sigla_uf   27 non-null     object
 2   geometria  27 non-null     object
dtypes: int64(1), object(2)
memory usage: 780.0+ bytes

   id_uf sigla_uf                                          geometria
0     13       AM  POLYGON((-67.3305623597076 2.06126594616903, -...
1     17       TO  POLYGON((-48.3681565220881 -5.16857194577177, ...
2     26       PE  MULTIPOLYGON(((-32.3988144901827 -3.8289620220...
3     51       MT  POLYGON((-54.891531198086 -17.6213747173965, -...
4     15       PA  MULTIPOLYGON(((-46.465471985428 -0.95986049519...

In [5]:
df_mapas_municipio = pd.read_csv('./dados/mapas_municipio.csv', header=0, sep=',')
df_mapas_municipio.info()
df_mapas_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  5570 non-null   int64
 1   sigla_uf      5570 non-null   object
 2   geometria     5570 non-null   object
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

   id_municipio sigla_uf                                          geometria
0       1200336       AC  POLYGON((-73.801558115 -7.111824379, -73.79209...
1       1200385       AC  POLYGON((-67.124663651 -9.969853, -67.16561695...
2       1200328       AC  POLYGON((-71.566051804 -8.648094841, -71.57330...
3       1200203       AC  POLYGON((-72.900313047 -7.437681232, -72.88910...
4       1200104       AC  POLYGON((-69.131563493 -10.385028002, -69.1493...

In [20]:
df_diretorios_uf = pd.read_csv('./dados/diretorios_uf.csv', header=0, sep=',')
df_diretorios_uf.info()
df_diretorios_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_uf   27 non-null     int64
 1   sigla   27 non-null     object
 2   nome    27 non-null     object
 3   regiao  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 996.0+ bytes

   id_uf sigla               nome regiao
0     42    SC     Santa Catarina    Sul
1     41    PR             Paraná    Sul
2     43    RS  Rio Grande do Sul    Sul
3     11    RO           Rondônia  Norte
4     13    AM           Amazonas  Norte

In [22]:
df_diretorios_municipio = pd.read_csv('./dados/diretorios_municipio.csv', header=0, sep=',')
df_diretorios_municipio.info()
df_diretorios_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_municipio               5570 non-null   int64
 1   id_municipio_6             5570 non-null   int64
 2   id_municipio_tse           5570 non-null   int64
 3   id_municipio_rf            5570 non-null   int64
 4   id_municipio_bcb           5570 non-null   int64
 5   nome                       5570 non-null   object
 6   capital_uf                 5570 non-null   int64
 7   id_comarca                 5570 non-null   int64
 8   id_regiao_saude            5570 non-null   int64
 9   nome_regiao_saude          5570 non-null   object
 10  id_regiao_imediata         5570 non-null   int64
 11  nome_regiao_imediata       5570 non-null   object
 12  id_regiao_intermediaria    5570 non-null   int64
 13  nome_regiao_intermediaria  5570 non-null   object
 14  id_microrregiao            5570 non-null   int64
 15  nome_microrregiao          5570 non-null   object
 16  id_mesorregiao             5570 non-null   int64
 17  nome_mesorregiao           5570 non-null   object
 18  id_regiao_metropolitana    1432 non-null   object
 19  nome_regiao_metropolitana  1432 non-null   object
 20  ddd                        5570 non-null   int64
 21  id_uf                      5570 non-null   int64
 22  sigla_uf                   5570 non-null   object
 23  nome_uf                    5570 non-null   object
 24  nome_regiao                5570 non-null   object
 25  amazonia_legal             5570 non-null   int64
 26  centroide                  5570 non-null   object
dtypes: int64(15), object(12)
memory usage: 1.1+ MB

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,sigla_uf,nome_uf,nome_regiao,amazonia_legal,centroide
0,1100338,110033,434,47,44516,Nova Mamoré,0,1100106,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-64.6295025002404 -10.3822863210755)
1,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-64.3041357999869 -9.15394033687075)
2,1101104,110110,493,683,46851,Itapuã do Oeste,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-63.044960463046 -9.17019402601564)
3,1100809,110080,477,681,46961,Candeias do Jamari,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-63.3254198532114 -8.88702392955617)
4,1100940,110094,680,8,56652,Cujubim,0,1100023,11001,Vale do Jamari,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-62.5652673033848 -9.1709863446154)

# Tratamento dos dados

### Idh

In [11]:
import numpy as np

df_idh['estado'] = df_idh['Territorialidades'].str.split('(').str[1].str.split(')').str[0]
df_idh['cidade'] = df_idh['Territorialidades'].str.split('(').str[0]

df_idh.rename(columns={'IDHM 2010': 'IDH', 'Territorialidades': 'territorialidades'}, inplace=True)
df_idh['idh'] = df_idh['IDH'].str.replace(',', '.').replace(' ', np.nan).astype(float)

df_idh.head(5)

  territorialidades    IDH estado     cidade    idh
0            Brasil  0,727    NaN     Brasil  0.727
1      Abaiara (CE)  0,628     CE   Abaiara   0.628
2      Acarape (CE)  0,606     CE   Acarape   0.606
3       Acaraú (CE)  0,601     CE    Acaraú   0.601
4     Acopiara (CE)  0,595     CE  Acopiara   0.595

### Censo

In [13]:
# Criar um dicionário de mapeamento a partir do df_dicionario
mapping = {
    'CD_REGIAO': 'codigo_regiao',
    'NM_REGIAO': 'nome_regiao',
    'CD_UF': 'codigo_uf',
    'NM_UF': 'nome_uf',
    'CD_MUNICIPIO': 'codigo_municipio',
    'NM_MUNICIPIO': 'nome_municipio',
    'Total_setores': 'total_setores',
    'v0001': 'total_pessoas',
    'v0002': 'total_domicilios',
    'v0003': 'total_domicilios_particulares',
    'v0004': 'total_domicilios_coletivos',
    'v0005': 'media_moradores_domicilio_particular_ocupado',
    'v0006': 'percentual_domicilios_particulares_ocupados',
    'v0007': 'total_domicilios_particulares_ocupados',
}

# Renomear as colunas do df_censo
df_censo = df_censo.rename(columns=mapping)
df_censo.head(5)

,codigo_regiao,nome_regiao,codigo_uf,nome_uf,CD_MUN,NM_MUN,total_setores,total_pessoas,total_domicilios,total_domicilios_particulares,total_domicilios_coletivos,media_moradores_domicilio_particular_ocupado,percentual_domicilios_particulares_ocupados,total_domicilios_particulares_ocupados
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

### Votos

In [14]:
df_votos.rename(columns={
    'CD_MUNICIPIO': 'codigo_municipio',
    'NM_MUNICIPIO': 'nome_municipio',
    'NM_VOTAVEL': 'nome_candidato',
    'QT_VOTOS': 'total_votos'
}, inplace=True)

### Furtos

In [15]:
df_furtos['Data'] = df_furtos['Data'] = pd.to_datetime(df_furtos['Data'], format='%d-%b-%y', dayfirst=True)
df_furtos['ano'] = df_furtos['Data'].dt.year

df_furtos.rename(columns={
    'Município': 'nome_municipio',
    'Dia da Semana': 'dia_semana',
    'Data': 'data',
    'Hora': 'hora'
}, inplace=True)

### UFs

In [18]:
df_mapas_uf.rename(columns={
    'sigla_uf': 'SG_UF',
}, inplace=True)

df_mapas_uf.head(5)

   id_uf SG_UF                                          geometria
0     13    AM  POLYGON((-67.3305623597076 2.06126594616903, -...
1     17    TO  POLYGON((-48.3681565220881 -5.16857194577177, ...
2     26    PE  MULTIPOLYGON(((-32.3988144901827 -3.8289620220...
3     51    MT  POLYGON((-54.891531198086 -17.6213747173965, -...
4     15    PA  MULTIPOLYGON(((-46.465471985428 -0.95986049519...

### Municípios

In [19]:
df_mapas_municipio.rename(columns={
    'sigla_uf': 'SG_UF',
}, inplace=True)

df_mapas_municipio.head(5)

   id_municipio SG_UF                                          geometria
0       1200336    AC  POLYGON((-73.801558115 -7.111824379, -73.79209...
1       1200385    AC  POLYGON((-67.124663651 -9.969853, -67.16561695...
2       1200328    AC  POLYGON((-71.566051804 -8.648094841, -71.57330...
3       1200203    AC  POLYGON((-72.900313047 -7.437681232, -72.88910...
4       1200104    AC  POLYGON((-69.131563493 -10.385028002, -69.1493...

### Diretórios UF

In [21]:
df_diretorios_uf.rename(columns={
    'sigla': 'SG_UF',
}, inplace=True)

df_diretorios_uf.head(5)

   id_uf SG_UF               nome regiao
0     42    SC     Santa Catarina    Sul
1     41    PR             Paraná    Sul
2     43    RS  Rio Grande do Sul    Sul
3     11    RO           Rondônia  Norte
4     13    AM           Amazonas  Norte

### Diretórios Município

In [23]:
df_diretorios_municipio.rename(columns={
    'nome': 'nome_municipio',
    'sigla_uf': 'SG_UF'
}, inplace=True)

df_diretorios_municipio.head(5)

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome_municipio,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,SG_UF,nome_uf,nome_regiao,amazonia_legal,centroide
0,1100338,110033,434,47,44516,Nova Mamoré,0,1100106,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-64.6295025002404 -10.3822863210755)
1,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-64.3041357999869 -9.15394033687075)
2,1101104,110110,493,683,46851,Itapuã do Oeste,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-63.044960463046 -9.17019402601564)
3,1100809,110080,477,681,46961,Candeias do Jamari,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-63.3254198532114 -8.88702392955617)
4,1100940,110094,680,8,56652,Cujubim,0,1100023,11001,Vale do Jamari,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-62.5652673033848 -9.1709863446154)

# Filtro de dados

In [13]:
df_votos = df_votos[df_votos['DS_CARGO']=='DEPUTADO FEDERAL'].reset_index(drop=True)
df_votos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056847 entries, 0 to 1056846
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   DT_GERACAO                 1056847 non-null  object
 1   HH_GERACAO                 1056847 non-null  object
 2   ANO_ELEICAO                1056847 non-null  int64
 3   CD_TIPO_ELEICAO            1056847 non-null  int64
 4   NM_TIPO_ELEICAO            1056847 non-null  object
 5   NR_TURNO                   1056847 non-null  int64
 6   CD_ELEICAO                 1056847 non-null  int64
 7   DS_ELEICAO                 1056847 non-null  object
 8   DT_ELEICAO                 1056847 non-null  object
 9   TP_ABRANGENCIA             1056847 non-null  object
 10  SG_UF                      1056847 non-null  object
 11  SG_UE                      1056847 non-null  object
 12  NM_UE                      1056847 non-null  object
 13  codigo_municipio           1056847 non-null  int64
 14  nome_municipio             1056847 non-null  object
 15  NR_ZONA                    1056847 non-null  int64
 16  NR_SECAO                   1056847 non-null  int64
 17  CD_CARGO                   1056847 non-null  int64
 18  DS_CARGO                   1056847 non-null  object
 19  NR_VOTAVEL                 1056847 non-null  int64
 20  nome_candidato             1056847 non-null  object
 21  total_votos                1056847 non-null  int64
 22  NR_LOCAL_VOTACAO           1056847 non-null  int64
 23  SQ_CANDIDATO               1056847 non-null  int64
 24  NM_LOCAL_VOTACAO           1056847 non-null  object
 25  DS_LOCAL_VOTACAO_ENDERECO  1056847 non-null  object
dtypes: int64(12), object(14)
memory usage: 209.6+ MB

In [14]:
df_censo = df_censo[df_censo['nome_uf'] == 'Ceará'].reset_index(drop=True)
df_censo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   codigo_regiao                                 184 non-null    int64
 1   nome_regiao                                   184 non-null    object
 2   codigo_uf                                     184 non-null    int64
 3   nome_uf                                       184 non-null    object
 4   CD_MUN                                        184 non-null    int64
 5   NM_MUN                                        184 non-null    object
 6   total_setores                                 184 non-null    int64
 7   total_pessoas                                 184 non-null    int64
 8   total_domicilios                              184 non-null    int64
 9   total_domicilios_particulares                 184 non-null    int64
 10  total_domicilios_coletivos                    184 non-null    int64
 11  media_moradores_domicilio_particular_ocupado  184 non-null    object
 12  percentual_domicilios_particulares_ocupados   165 non-null    object
 13  total_domicilios_particulares_ocupados        184 non-null    int64
dtypes: int64(9), object(5)
memory usage: 20.3+ KB

In [25]:
df_mapas_uf = df_mapas_uf[df_mapas_uf['SG_UF'] == 'CE'].reset_index(drop=True)
df_mapas_uf.info()
df_mapas_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_uf      1 non-null      int64
 1   SG_UF      1 non-null      object
 2   geometria  1 non-null      object
dtypes: int64(1), object(2)
memory usage: 156.0+ bytes

   id_uf SG_UF                                          geometria
0     23    CE  POLYGON((-41.1775766682825 -4.46769665097272, ...

In [26]:
df_mapas_municipio = df_mapas_municipio[df_mapas_municipio['SG_UF'] == 'CE'].reset_index(drop=True)
df_mapas_municipio.info()
df_mapas_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  184 non-null    int64
 1   SG_UF         184 non-null    object
 2   geometria     184 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.4+ KB

   id_municipio SG_UF                                          geometria
0       2302503    CE  POLYGON((-38.940520466 -7.427975185, -39.07819...
1       2304657    CE  POLYGON((-40.76147804 -3.95063271500001, -40.7...
2       2306108    CE  POLYGON((-39.784873661 -3.631059518, -39.78686...
3       2311355    CE  POLYGON((-39.018526315 -6.00522936199999, -39....
4       2303006    CE  POLYGON((-38.984159556 -4.044386322, -39.00354...

In [27]:
df_diretorios_uf = df_diretorios_uf[df_diretorios_uf['SG_UF'] == 'CE'].reset_index(drop=True)
df_diretorios_uf.info()
df_diretorios_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_uf   1 non-null      int64
 1   SG_UF   1 non-null      object
 2   nome    1 non-null      object
 3   regiao  1 non-null      object
dtypes: int64(1), object(3)
memory usage: 164.0+ bytes

   id_uf SG_UF   nome    regiao
0     23    CE  Ceará  Nordeste

In [28]:
df_diretorios_municipio = df_diretorios_municipio[df_diretorios_municipio['SG_UF'] == 'CE'].reset_index(drop=True)
df_diretorios_municipio.info()
df_diretorios_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_municipio               184 non-null    int64
 1   id_municipio_6             184 non-null    int64
 2   id_municipio_tse           184 non-null    int64
 3   id_municipio_rf            184 non-null    int64
 4   id_municipio_bcb           184 non-null    int64
 5   nome_municipio             184 non-null    object
 6   capital_uf                 184 non-null    int64
 7   id_comarca                 184 non-null    int64
 8   id_regiao_saude            184 non-null    int64
 9   nome_regiao_saude          184 non-null    object
 10  id_regiao_imediata         184 non-null    int64
 11  nome_regiao_imediata       184 non-null    object
 12  id_regiao_intermediaria    184 non-null    int64
 13  nome_regiao_intermediaria  184 non-null    object
 14  id_microrregiao            184 non-null    int64
 15  nome_microrregiao          184 non-null    object
 16  id_mesorregiao             184 non-null    int64
 17  nome_mesorregiao           184 non-null    object
 18  id_regiao_metropolitana    46 non-null     object
 19  nome_regiao_metropolitana  46 non-null     object
 20  ddd                        184 non-null    int64
 21  id_uf                      184 non-null    int64
 22  SG_UF                      184 non-null    object
 23  nome_uf                    184 non-null    object
 24  nome_regiao                184 non-null    object
 25  amazonia_legal             184 non-null    int64
 26  centroide                  184 non-null    object
dtypes: int64(15), object(12)
memory usage: 38.9+ KB

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome_municipio,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,SG_UF,nome_uf,nome_regiao,amazonia_legal,centroide
0,2308906,230890,14796,1479,39882,Morrinhos,0,2308906,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.0912592590751 -3.28414982234069)
1,2307908,230790,14591,1459,15387,Martinópole,0,2313906,23016,16ª Região Camocim,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.6475432371398 -3.16909619690766)
2,2307254,230725,13005,985,55512,Jijoca de Jericoacoara,0,2307254,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.4945113068936 -2.87872541898898)
3,2306553,230655,15954,1595,42336,Itarema,0,2306553,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-39.889228471988 -3.04919822403069)
4,2302305,230230,13455,1345,11594,Bela Cruz,0,2302305,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.3079812473698 -3.05312040153093)

# Agrergação dos dados

In [15]:
df_votos_agrupados = df_votos.groupby(['codigo_municipio','nome_municipio', 'nome_candidato'])[['total_votos']].sum().reset_index()
df_votos_agrupados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32017 entries, 0 to 32016
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   codigo_municipio  32017 non-null  int64
 1   nome_municipio    32017 non-null  object
 2   nome_candidato    32017 non-null  object
 3   total_votos       32017 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1000.7+ KB

In [21]:
df_furtos_agrupados = df_furtos.groupby(['nome_municipio']).size().reset_index()
df_furtos_agrupados.rename(columns={0: 'total_furtos'}, inplace=True)
df_furtos_agrupados

      nome_municipio  total_furtos
0            Abaiara           118
1            Acarape           365
2             Acaraú          3696
3           Acopiara          1313
4             Aiuaba           115
..               ...           ...
179      Uruburetama           539
180           Uruoca           356
181          Varjota           527
182  Viçosa do Ceará          1457
183    Várzea Alegre          1403

[184 rows x 2 columns]

# Exploração dos dados

In [17]:
df_votos_agrupados[['total_votos']].describe()

         total_votos
count   32017.000000
mean      175.639504
std      1636.398747
min         1.000000
25%         2.000000
50%         5.000000
75%        28.000000
max    119326.000000

In [18]:
df_idh[['idh']].describe()

              idh
count  185.000000
mean     0.617227
std      0.032610
min      0.540000
25%      0.599000
50%      0.612000
75%      0.633000
max      0.754000

In [19]:
df_censo.describe()

,codigo_regiao,codigo_uf,CD_MUN,total_setores,total_pessoas,total_domicilios,total_domicilios_particulares,total_domicilios_coletivos,total_domicilios_particulares_ocupados
count,184.0,184.0,1.840000e+02,184.000000,1.840000e+02,1.840000e+02,1.840000e+02,184.000000,184.000000
mean,2.0,23.0,2.307039e+06,107.663043,4.779868e+04,2.079351e+04,2.077517e+04,18.331522,16425.092391
std,0.0,0.0,4.038662e+03,329.812806,1.817221e+05,7.737620e+04,7.733907e+04,53.273435,64280.096034
min,2.0,23.0,2.300101e+06,15.000000,4.841000e+03,2.019000e+03,2.019000e+03,0.000000,1541.000000
25%,2.0,23.0,2.303925e+06,37.750000,1.378725e+04,6.032750e+03,6.028750e+03,2.000000,4635.250000
50%,2.0,23.0,2.306752e+06,59.000000,2.091350e+04,9.451000e+03,9.450000e+03,5.000000,7180.500000
75%,2.0,23.0,2.310630e+06,105.000000,4.018400e+04,1.780900e+04,1.780075e+04,11.250000,13539.000000
max,2.0,23.0,2.314102e+06,4422.000000,2.428708e+06,1.034611e+06,1.034146e+06,465.000000,860747.000000

In [22]:
df_furtos_agrupados.describe()

        total_furtos
count     184.000000
mean     4337.505435
std     34750.266328
min        48.000000
25%       211.250000
50%       516.500000
75%      1419.000000
max    470019.000000