In [1]:
import pandas as pd
import os

# Leitura dos arquivos

In [2]:
df_censo = pd.read_csv('./dados/censo.csv', header=0, sep=';')
df_censo.info()
df_censo.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CD_REGIAO      5570 non-null   int64
 1   NM_REGIAO      5570 non-null   object
 2   CD_UF          5570 non-null   int64
 3   NM_UF          5570 non-null   object
 4   CD_MUN         5570 non-null   int64
 5   NM_MUN         5570 non-null   object
 6   Total_setores  5570 non-null   int64
 7   v0001          5570 non-null   int64
 8   v0002          5570 non-null   int64
 9   v0003          5570 non-null   int64
 10  v0004          5570 non-null   int64
 11  v0005          5570 non-null   object
 12  v0006          5195 non-null   object
 13  v0007          5570 non-null   int64
dtypes: int64(9), object(5)
memory usage: 609.3+ KB

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,Total_setores,v0001,v0002,v0003,v0004,v0005,v0006,v0007
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

In [3]:
df_dicionario = pd.read_csv('./dados/dicionario_censo_1.csv')
df_dicionario.head(5)

,VARIÁVEL,TIPO,TAMANHO,DESCRIÇÃO
0,CD_SETOR,texto,16.0,Geocódigo de Setor Censitário
1,AREA_KM2,real,NaN,Área do Setor Censitário em quilômetros quadrados
2,CD_REGIAO,numérico,1.0,Código das Grandes Regiões (Regiões Geográficas)
3,NM_REGIAO,texto,15.0,Nome das Grandes Regiões (Regiões Geográficas)
4,CD_UF,numérico,2.0,Código da Unidade da Federação

In [4]:
df_idh = pd.read_csv('./dados/idh.csv',header=0, sep=';')
df_idh.info()
df_idh.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Territorialidades  188 non-null    object
 1   IDHM 2010          186 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

  Territorialidades IDHM 2010
0            Brasil     0,727
1      Abaiara (CE)     0,628
2      Acarape (CE)     0,606
3       Acaraú (CE)     0,601
4     Acopiara (CE)     0,595

In [5]:
df_votos = pd.read_csv('./dados/votos.csv', encoding='latin1', header=0, sep=';')
df_votos.info()
df_votos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509903 entries, 0 to 2509902
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DT_GERACAO                 object
 1   HH_GERACAO                 object
 2   ANO_ELEICAO                int64
 3   CD_TIPO_ELEICAO            int64
 4   NM_TIPO_ELEICAO            object
 5   NR_TURNO                   int64
 6   CD_ELEICAO                 int64
 7   DS_ELEICAO                 object
 8   DT_ELEICAO                 object
 9   TP_ABRANGENCIA             object
 10  SG_UF                      object
 11  SG_UE                      object
 12  NM_UE                      object
 13  CD_MUNICIPIO               int64
 14  NM_MUNICIPIO               object
 15  NR_ZONA                    int64
 16  NR_SECAO                   int64
 17  CD_CARGO                   int64
 18  DS_CARGO                   object
 19  NR_VOTAVEL                 int64
 20  NM_VOTAVEL                 object
 21  QT_VOTOS                   int64
 22  NR_LOCAL_VOTACAO           int64
 23  SQ_CANDIDATO               int64
 24  NM_LOCAL_VOTACAO           object
 25  DS_LOCAL_VOTACAO_ENDERECO  object
dtypes: int64(12), object(14)
memory usage: 497.9+ MB

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,6,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1023,60001608890,CENTRO COMUNITARIO CONJUNTO SAO FRANCISCO,RUA ILHA DO BOTE 367
1,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,266,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13,1546,60001608890,ESCOLA MUNICIPAL ZINA MOREIRA,TIMBAUBA NOSSA SENHORA DAS DORES
2,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,119,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,3,1058,60001608890,EEM ENGENHEIRO AGEU ROMERO,RUA EVARISTO GOMES 143
3,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,25,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,2,1082,60001608890,EEFM CORONEL MURILO SERPA,RUA ANASTACIO BARROSO VALENTE 318
4,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,228,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1058,60001608890,E.E.F. MARIA LINDA DA GLÓRIA,DISTRITO FLAMENGO

# Tratamento dos dados

### Idh

In [21]:
import numpy as np

df_idh['Estado'] = df_idh['Territorialidades'].str.split('(').str[1].str.split(')').str[0]
df_idh['Cidade'] = df_idh['Territorialidades'].str.split('(').str[0]

df_idh.rename(columns={'IDHM 2010': 'IDH'}, inplace=True)
df_idh['IDH'] = df_idh['IDH'].str.replace(',', '.').replace(' ', np.nan).astype(float)

df_idh.head(5)

  Territorialidades    IDH Estado     Cidade
0            Brasil  0.727    NaN     Brasil
1      Abaiara (CE)  0.628     CE   Abaiara
2      Acarape (CE)  0.606     CE   Acarape
3       Acaraú (CE)  0.601     CE    Acaraú
4     Acopiara (CE)  0.595     CE  Acopiara

### Censo

In [7]:
# Criar um dicionário de mapeamento a partir do df_dicionario
mapping = {
    'v0001': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0001']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0002': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0002']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0003': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0003']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0004': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0004']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0005': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0005']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0006': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0006']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower(),
    'v0007': df_dicionario[df_dicionario['VARIÁVEL'] == 'V0007']['DESCRIÇÃO'].values[0].split('(')[0].replace(' ', '_').lower()
}

# Renomear as colunas do df_censo
df_censo = df_censo.rename(columns=mapping)
df_censo.head(5)

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,Total_setores,total_de_pessoas,total_de_domicílios_,total_de_domicílios_particulares_,total_de_domicílios_coletivos_,média_de_moradores_em_domicílios_particulares_ocupados_,percentual_de_domicílios_particulares_ocupados_imputados_,total_de_domicílios_particulares_ocupados_
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

# Filtro de dados

In [8]:
df_votos = df_votos[df_votos['DS_CARGO']=='DEPUTADO FEDERAL'].reset_index(drop=True)
df_votos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056847 entries, 0 to 1056846
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   DT_GERACAO                 1056847 non-null  object
 1   HH_GERACAO                 1056847 non-null  object
 2   ANO_ELEICAO                1056847 non-null  int64
 3   CD_TIPO_ELEICAO            1056847 non-null  int64
 4   NM_TIPO_ELEICAO            1056847 non-null  object
 5   NR_TURNO                   1056847 non-null  int64
 6   CD_ELEICAO                 1056847 non-null  int64
 7   DS_ELEICAO                 1056847 non-null  object
 8   DT_ELEICAO                 1056847 non-null  object
 9   TP_ABRANGENCIA             1056847 non-null  object
 10  SG_UF                      1056847 non-null  object
 11  SG_UE                      1056847 non-null  object
 12  NM_UE                      1056847 non-null  object
 13  CD_MUNICIPIO               1056847 non-null  int64
 14  NM_MUNICIPIO               1056847 non-null  object
 15  NR_ZONA                    1056847 non-null  int64
 16  NR_SECAO                   1056847 non-null  int64
 17  CD_CARGO                   1056847 non-null  int64
 18  DS_CARGO                   1056847 non-null  object
 19  NR_VOTAVEL                 1056847 non-null  int64
 20  NM_VOTAVEL                 1056847 non-null  object
 21  QT_VOTOS                   1056847 non-null  int64
 22  NR_LOCAL_VOTACAO           1056847 non-null  int64
 23  SQ_CANDIDATO               1056847 non-null  int64
 24  NM_LOCAL_VOTACAO           1056847 non-null  object
 25  DS_LOCAL_VOTACAO_ENDERECO  1056847 non-null  object
dtypes: int64(12), object(14)
memory usage: 209.6+ MB

In [9]:
df_censo = df_censo[df_censo['NM_UF'] == 'Ceará'].reset_index(drop=True)
df_censo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   CD_REGIAO                                                  184 non-null    int64
 1   NM_REGIAO                                                  184 non-null    object
 2   CD_UF                                                      184 non-null    int64
 3   NM_UF                                                      184 non-null    object
 4   CD_MUN                                                     184 non-null    int64
 5   NM_MUN                                                     184 non-null    object
 6   Total_setores                                              184 non-null    int64
 7   total_de_pessoas                                           184 non-null    int64
 8   total_de_domicílios_                                       184 non-null    int64
 9   total_de_domicílios_particulares_                          184 non-null    int64
 10  total_de_domicílios_coletivos_                             184 non-null    int64
 11  média_de_moradores_em_domicílios_particulares_ocupados_    184 non-null    object
 12  percentual_de_domicílios_particulares_ocupados_imputados_  165 non-null    object
 13  total_de_domicílios_particulares_ocupados_                 184 non-null    int64
dtypes: int64(9), object(5)
memory usage: 20.3+ KB

# Agrergação dos dados

In [10]:
df_votos_agrupados = df_votos.groupby(['CD_MUNICIPIO','NM_MUNICIPIO', 'NM_VOTAVEL'])[['QT_VOTOS']].sum().reset_index()
df_votos_agrupados.rename(columns={
    'CD_MUNICIPIO': 'codigo_municipio',
    'NM_MUNICIPIO': 'nome_municipio',
    'NM_VOTAVEL': 'nome_candidato',
    'QT_VOTOS': 'total_votos'
}, inplace=True)
df_votos_agrupados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32017 entries, 0 to 32016
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CD_MUNICIPIO  32017 non-null  int64
 1   NM_MUNICIPIO  32017 non-null  object
 2   NM_VOTAVEL    32017 non-null  object
 3   QT_VOTOS      32017 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1000.7+ KB

# Exploração dos dados

In [17]:
df_votos_agrupados['QT_VOTOS'].describe()

count     32017.000000
mean        175.639504
std        1636.398747
min           1.000000
25%           2.000000
50%           5.000000
75%          28.000000
max      119326.000000
Name: QT_VOTOS, dtype: float64

In [22]:
df_idh['IDH'].describe()

count    185.000000
mean       0.617227
std        0.032610
min        0.540000
25%        0.599000
50%        0.612000
75%        0.633000
max        0.754000
Name: IDH, dtype: float64

In [24]:
df_censo['total_de_pessoas'].describe()

count    1.840000e+02
mean     4.779868e+04
std      1.817221e+05
min      4.841000e+03
25%      1.378725e+04
50%      2.091350e+04
75%      4.018400e+04
max      2.428708e+06
Name: total_de_pessoas, dtype: float64