In [1]:
import pandas as pd
import os

# Leitura dos arquivos

In [2]:
# Leitura dos dados de Censo do IBGE de 2022

df_censo = pd.read_csv('./dados/censo.csv', header=0, sep=';')
df_censo.info()
df_censo.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CD_REGIAO      5570 non-null   int64
 1   NM_REGIAO      5570 non-null   object
 2   CD_UF          5570 non-null   int64
 3   NM_UF          5570 non-null   object
 4   CD_MUN         5570 non-null   int64
 5   NM_MUN         5570 non-null   object
 6   Total_setores  5570 non-null   int64
 7   v0001          5570 non-null   int64
 8   v0002          5570 non-null   int64
 9   v0003          5570 non-null   int64
 10  v0004          5570 non-null   int64
 11  v0005          5570 non-null   object
 12  v0006          5195 non-null   object
 13  v0007          5570 non-null   int64
dtypes: int64(9), object(5)
memory usage: 609.3+ KB

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,Total_setores,v0001,v0002,v0003,v0004,v0005,v0006,v0007
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

In [3]:
## Leitura do dicionário de dados

df_dicionario = pd.read_csv('./dados/dicionario_censo_1.csv')
df_dicionario.head(5)

,VARIÁVEL,TIPO,TAMANHO,DESCRIÇÃO
0,CD_SETOR,texto,16.0,Geocódigo de Setor Censitário
1,AREA_KM2,real,NaN,Área do Setor Censitário em quilômetros quadrados
2,CD_REGIAO,numérico,1.0,Código das Grandes Regiões (Regiões Geográficas)
3,NM_REGIAO,texto,15.0,Nome das Grandes Regiões (Regiões Geográficas)
4,CD_UF,numérico,2.0,Código da Unidade da Federação

In [4]:
# Leitura dos dados de IDH 2010

df_idh = pd.read_csv('./dados/idh.csv',header=0, sep=';')
df_idh.info()
df_idh.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Territorialidades  188 non-null    object
 1   IDHM 2010          186 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

  Territorialidades IDHM 2010
0            Brasil     0,727
1      Abaiara (CE)     0,628
2      Acarape (CE)     0,606
3       Acaraú (CE)     0,601
4     Acopiara (CE)     0,595

In [5]:
# Leitura dos dados de votação 2022

df_votos = pd.read_csv('./dados/votos.csv', encoding='latin1', header=0, sep=';')
df_votos.info()
df_votos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509903 entries, 0 to 2509902
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DT_GERACAO                 object
 1   HH_GERACAO                 object
 2   ANO_ELEICAO                int64
 3   CD_TIPO_ELEICAO            int64
 4   NM_TIPO_ELEICAO            object
 5   NR_TURNO                   int64
 6   CD_ELEICAO                 int64
 7   DS_ELEICAO                 object
 8   DT_ELEICAO                 object
 9   TP_ABRANGENCIA             object
 10  SG_UF                      object
 11  SG_UE                      object
 12  NM_UE                      object
 13  CD_MUNICIPIO               int64
 14  NM_MUNICIPIO               object
 15  NR_ZONA                    int64
 16  NR_SECAO                   int64
 17  CD_CARGO                   int64
 18  DS_CARGO                   object
 19  NR_VOTAVEL                 int64
 20  NM_VOTAVEL                 object
 21  QT_VOTOS                   int64
 22  NR_LOCAL_VOTACAO           int64
 23  SQ_CANDIDATO               int64
 24  NM_LOCAL_VOTACAO           object
 25  DS_LOCAL_VOTACAO_ENDERECO  object
dtypes: int64(12), object(14)
memory usage: 497.9+ MB

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,6,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1023,60001608890,CENTRO COMUNITARIO CONJUNTO SAO FRANCISCO,RUA ILHA DO BOTE 367
1,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,266,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13,1546,60001608890,ESCOLA MUNICIPAL ZINA MOREIRA,TIMBAUBA NOSSA SENHORA DAS DORES
2,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,119,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,3,1058,60001608890,EEM ENGENHEIRO AGEU ROMERO,RUA EVARISTO GOMES 143
3,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,25,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,2,1082,60001608890,EEFM CORONEL MURILO SERPA,RUA ANASTACIO BARROSO VALENTE 318
4,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,228,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1058,60001608890,E.E.F. MARIA LINDA DA GLÓRIA,DISTRITO FLAMENGO

In [6]:
# Leitura dos dados de furtos 2009 a 2023

df_furtos = pd.read_csv('./dados/furtos.csv', header=0, sep=',')
df_furtos.info()
df_furtos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798101 entries, 0 to 798100
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   AIS            798101 non-null  object
 1   Município      798101 non-null  object
 2   Dia da Semana  798101 non-null  object
 3   Data           798101 non-null  object
 4   Hora           798101 non-null  object
dtypes: object(5)
memory usage: 30.4+ MB

      AIS  Município Dia da Semana      Data         Hora
0  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
1  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
2  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
3  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM
4  AIS 05  Fortaleza        Quinta  1-Jan-09  12:00:00 AM

In [7]:
df_mapas_uf = pd.read_csv('./dados/mapas_uf.csv', header=0, sep=',')
df_mapas_uf.info()
df_mapas_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_uf      27 non-null     int64
 1   sigla_uf   27 non-null     object
 2   geometria  27 non-null     object
dtypes: int64(1), object(2)
memory usage: 780.0+ bytes

   id_uf sigla_uf                                          geometria
0     13       AM  POLYGON((-67.3305623597076 2.06126594616903, -...
1     17       TO  POLYGON((-48.3681565220881 -5.16857194577177, ...
2     26       PE  MULTIPOLYGON(((-32.3988144901827 -3.8289620220...
3     51       MT  POLYGON((-54.891531198086 -17.6213747173965, -...
4     15       PA  MULTIPOLYGON(((-46.465471985428 -0.95986049519...

In [8]:
df_mapas_municipio = pd.read_csv('./dados/mapas_municipio.csv', header=0, sep=',')
df_mapas_municipio.info()
df_mapas_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  5570 non-null   int64
 1   sigla_uf      5570 non-null   object
 2   geometria     5570 non-null   object
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

   id_municipio sigla_uf                                          geometria
0       1200336       AC  POLYGON((-73.801558115 -7.111824379, -73.79209...
1       1200385       AC  POLYGON((-67.124663651 -9.969853, -67.16561695...
2       1200328       AC  POLYGON((-71.566051804 -8.648094841, -71.57330...
3       1200203       AC  POLYGON((-72.900313047 -7.437681232, -72.88910...
4       1200104       AC  POLYGON((-69.131563493 -10.385028002, -69.1493...

In [9]:
df_diretorios_uf = pd.read_csv('./dados/diretorios_uf.csv', header=0, sep=',')
df_diretorios_uf.info()
df_diretorios_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_uf   27 non-null     int64
 1   sigla   27 non-null     object
 2   nome    27 non-null     object
 3   regiao  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 996.0+ bytes

   id_uf sigla               nome regiao
0     42    SC     Santa Catarina    Sul
1     41    PR             Paraná    Sul
2     43    RS  Rio Grande do Sul    Sul
3     11    RO           Rondônia  Norte
4     13    AM           Amazonas  Norte

In [10]:
df_diretorios_municipio = pd.read_csv('./dados/diretorios_municipio.csv', header=0, sep=',')
df_diretorios_municipio.info()
df_diretorios_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_municipio               5570 non-null   int64
 1   id_municipio_6             5570 non-null   int64
 2   id_municipio_tse           5570 non-null   int64
 3   id_municipio_rf            5570 non-null   int64
 4   id_municipio_bcb           5570 non-null   int64
 5   nome                       5570 non-null   object
 6   capital_uf                 5570 non-null   int64
 7   id_comarca                 5570 non-null   int64
 8   id_regiao_saude            5570 non-null   int64
 9   nome_regiao_saude          5570 non-null   object
 10  id_regiao_imediata         5570 non-null   int64
 11  nome_regiao_imediata       5570 non-null   object
 12  id_regiao_intermediaria    5570 non-null   int64
 13  nome_regiao_intermediaria  5570 non-null   object
 14  id_microrregiao            5570 non-null   int64
 15  nome_microrregiao          5570 non-null   object
 16  id_mesorregiao             5570 non-null   int64
 17  nome_mesorregiao           5570 non-null   object
 18  id_regiao_metropolitana    1432 non-null   object
 19  nome_regiao_metropolitana  1432 non-null   object
 20  ddd                        5570 non-null   int64
 21  id_uf                      5570 non-null   int64
 22  sigla_uf                   5570 non-null   object
 23  nome_uf                    5570 non-null   object
 24  nome_regiao                5570 non-null   object
 25  amazonia_legal             5570 non-null   int64
 26  centroide                  5570 non-null   object
dtypes: int64(15), object(12)
memory usage: 1.1+ MB

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,sigla_uf,nome_uf,nome_regiao,amazonia_legal,centroide
0,1100338,110033,434,47,44516,Nova Mamoré,0,1100106,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-64.6295025002404 -10.3822863210755)
1,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-64.3041357999869 -9.15394033687075)
2,1101104,110110,493,683,46851,Itapuã do Oeste,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-63.044960463046 -9.17019402601564)
3,1100809,110080,477,681,46961,Candeias do Jamari,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-63.3254198532114 -8.88702392955617)
4,1100940,110094,680,8,56652,Cujubim,0,1100023,11001,Vale do Jamari,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-62.5652673033848 -9.1709863446154)

# Tratamento dos dados

### Idh

- divisão da coluna `Territorialidades` em `Estado` e `Cidade`
- renomeação das colunas

In [11]:
import numpy as np

df_idh['estado'] = df_idh['Territorialidades'].str.split('(').str[1].str.split(')').str[0]
df_idh['cidade'] = df_idh['Territorialidades'].str.split('(').str[0]

df_idh.rename(columns={'IDHM 2010': 'idh', 'Territorialidades': 'territorialidades'}, inplace=True)
df_idh['idh'] = df_idh['idh'].str.replace(',', '.').replace(' ', np.nan).astype(float)

df_idh.head(5)

  territorialidades    idh estado     cidade
0            Brasil  0.727    NaN     Brasil
1      Abaiara (CE)  0.628     CE   Abaiara
2      Acarape (CE)  0.606     CE   Acarape
3       Acaraú (CE)  0.601     CE    Acaraú
4     Acopiara (CE)  0.595     CE  Acopiara

### Censo

- renomeação das colunas

In [12]:
# Criar um dicionário de mapeamento a partir do df_dicionario
mapping = {
    'CD_REGIAO': 'codigo_regiao',
    'NM_REGIAO': 'nome_regiao',
    'CD_UF': 'codigo_uf',
    'NM_UF': 'nome_uf',
    'CD_MUNICIPIO': 'codigo_municipio',
    'NM_MUNICIPIO': 'nome_municipio',
    'Total_setores': 'total_setores',
    'v0001': 'total_pessoas',
    'v0002': 'total_domicilios',
    'v0003': 'total_domicilios_particulares',
    'v0004': 'total_domicilios_coletivos',
    'v0005': 'media_moradores_domicilio_particular_ocupado',
    'v0006': 'percentual_domicilios_particulares_ocupados',
    'v0007': 'total_domicilios_particulares_ocupados',
}

# Renomear as colunas do df_censo
df_censo = df_censo.rename(columns=mapping)
df_censo.head(5)

,codigo_regiao,nome_regiao,codigo_uf,nome_uf,CD_MUN,NM_MUN,total_setores,total_pessoas,total_domicilios,total_domicilios_particulares,total_domicilios_coletivos,media_moradores_domicilio_particular_ocupado,percentual_domicilios_particulares_ocupados,total_domicilios_particulares_ocupados
0,1,Norte,11,Rondônia,1100015,Alta Floresta D'Oeste,73,21494,10081,10062,19,"2,785686453","2,948434862",7699
1,1,Norte,11,Rondônia,1100023,Ariquemes,151,96833,44157,44114,43,"2,765064397","4,381324747",34784
2,1,Norte,11,Rondônia,1100031,Cabixi,15,5351,2927,2921,6,"2,720386375","4,931367565",1967
3,1,Norte,11,Rondônia,1100049,Cacoal,154,86887,40930,40905,25,"2,709561241","2,571169083",31931
4,1,Norte,11,Rondônia,1100056,Cerejeiras,31,15890,7069,7064,5,"2,689754935","3,931245745",5876

### Votos

- renomeação das colunas

In [13]:
df_votos.rename(columns={
    'CD_MUNICIPIO': 'codigo_municipio',
    'NM_MUNICIPIO': 'nome_municipio',
    'NM_VOTAVEL': 'nome_candidato',
    'QT_VOTOS': 'total_votos'
}, inplace=True)

### Furtos

- mudança do tipo de dado da coluna `Data` para `datetime`
- criação da coluna `Ano` a partir da coluna `Data`
- renomeação das colunas

In [14]:
df_furtos['Data'] = df_furtos['Data'] = pd.to_datetime(df_furtos['Data'], format='%d-%b-%y', dayfirst=True)
df_furtos['ano'] = df_furtos['Data'].dt.year

df_furtos.rename(columns={
    'Município': 'nome_municipio',
    'Dia da Semana': 'dia_semana',
    'Data': 'data',
    'Hora': 'hora'
}, inplace=True)

### UFs

In [15]:
df_mapas_uf.rename(columns={
    'sigla_uf': 'SG_UF',
}, inplace=True)

df_mapas_uf.head(5)

   id_uf SG_UF                                          geometria
0     13    AM  POLYGON((-67.3305623597076 2.06126594616903, -...
1     17    TO  POLYGON((-48.3681565220881 -5.16857194577177, ...
2     26    PE  MULTIPOLYGON(((-32.3988144901827 -3.8289620220...
3     51    MT  POLYGON((-54.891531198086 -17.6213747173965, -...
4     15    PA  MULTIPOLYGON(((-46.465471985428 -0.95986049519...

### Municípios

In [16]:
df_mapas_municipio.rename(columns={
    'sigla_uf': 'SG_UF',
}, inplace=True)

df_mapas_municipio.head(5)

   id_municipio SG_UF                                          geometria
0       1200336    AC  POLYGON((-73.801558115 -7.111824379, -73.79209...
1       1200385    AC  POLYGON((-67.124663651 -9.969853, -67.16561695...
2       1200328    AC  POLYGON((-71.566051804 -8.648094841, -71.57330...
3       1200203    AC  POLYGON((-72.900313047 -7.437681232, -72.88910...
4       1200104    AC  POLYGON((-69.131563493 -10.385028002, -69.1493...

### Diretórios UF

In [17]:
df_diretorios_uf.rename(columns={
    'sigla': 'SG_UF',
}, inplace=True)

df_diretorios_uf.head(5)

   id_uf SG_UF               nome regiao
0     42    SC     Santa Catarina    Sul
1     41    PR             Paraná    Sul
2     43    RS  Rio Grande do Sul    Sul
3     11    RO           Rondônia  Norte
4     13    AM           Amazonas  Norte

### Diretórios Município

In [18]:
df_diretorios_municipio.rename(columns={
    'nome': 'nome_municipio',
    'sigla_uf': 'SG_UF'
}, inplace=True)

df_diretorios_municipio.head(5)

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome_municipio,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,SG_UF,nome_uf,nome_regiao,amazonia_legal,centroide
0,1100338,110033,434,47,44516,Nova Mamoré,0,1100106,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-64.6295025002404 -10.3822863210755)
1,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-64.3041357999869 -9.15394033687075)
2,1101104,110110,493,683,46851,Itapuã do Oeste,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-63.044960463046 -9.17019402601564)
3,1100809,110080,477,681,46961,Candeias do Jamari,0,1100205,11004,Madeira-Mamoré,...,Madeira-Guaporé,101,Região Metropolitana de Porto Velho,69,11,RO,Rondônia,Norte,1,POINT(-63.3254198532114 -8.88702392955617)
4,1100940,110094,680,8,56652,Cujubim,0,1100023,11001,Vale do Jamari,...,Madeira-Guaporé,NaN,NaN,69,11,RO,Rondônia,Norte,1,POINT(-62.5652673033848 -9.1709863446154)

# Filtro de dados

### Votos

- filtrar dados de votos para Deputados Federais

In [19]:
df_votos = df_votos[df_votos['DS_CARGO']=='DEPUTADO FEDERAL'].reset_index(drop=True)
df_votos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056847 entries, 0 to 1056846
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   DT_GERACAO                 1056847 non-null  object
 1   HH_GERACAO                 1056847 non-null  object
 2   ANO_ELEICAO                1056847 non-null  int64
 3   CD_TIPO_ELEICAO            1056847 non-null  int64
 4   NM_TIPO_ELEICAO            1056847 non-null  object
 5   NR_TURNO                   1056847 non-null  int64
 6   CD_ELEICAO                 1056847 non-null  int64
 7   DS_ELEICAO                 1056847 non-null  object
 8   DT_ELEICAO                 1056847 non-null  object
 9   TP_ABRANGENCIA             1056847 non-null  object
 10  SG_UF                      1056847 non-null  object
 11  SG_UE                      1056847 non-null  object
 12  NM_UE                      1056847 non-null  object
 13  codigo_municipio           1056847 non-null  int64
 14  nome_municipio             1056847 non-null  object
 15  NR_ZONA                    1056847 non-null  int64
 16  NR_SECAO                   1056847 non-null  int64
 17  CD_CARGO                   1056847 non-null  int64
 18  DS_CARGO                   1056847 non-null  object
 19  NR_VOTAVEL                 1056847 non-null  int64
 20  nome_candidato             1056847 non-null  object
 21  total_votos                1056847 non-null  int64
 22  NR_LOCAL_VOTACAO           1056847 non-null  int64
 23  SQ_CANDIDATO               1056847 non-null  int64
 24  NM_LOCAL_VOTACAO           1056847 non-null  object
 25  DS_LOCAL_VOTACAO_ENDERECO  1056847 non-null  object
dtypes: int64(12), object(14)
memory usage: 209.6+ MB

### Censo

- filtrar dados de censo para o Estado de Ceará

In [20]:
df_censo = df_censo[df_censo['nome_uf'] == 'Ceará'].reset_index(drop=True)
df_censo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   codigo_regiao                                 184 non-null    int64
 1   nome_regiao                                   184 non-null    object
 2   codigo_uf                                     184 non-null    int64
 3   nome_uf                                       184 non-null    object
 4   CD_MUN                                        184 non-null    int64
 5   NM_MUN                                        184 non-null    object
 6   total_setores                                 184 non-null    int64
 7   total_pessoas                                 184 non-null    int64
 8   total_domicilios                              184 non-null    int64
 9   total_domicilios_particulares                 184 non-null    int64
 10  total_domicilios_coletivos                    184 non-null    int64
 11  media_moradores_domicilio_particular_ocupado  184 non-null    object
 12  percentual_domicilios_particulares_ocupados   165 non-null    object
 13  total_domicilios_particulares_ocupados        184 non-null    int64
dtypes: int64(9), object(5)
memory usage: 20.3+ KB

### Mapas

In [21]:
df_mapas_uf = df_mapas_uf[df_mapas_uf['SG_UF'] == 'CE'].reset_index(drop=True)
df_mapas_uf.info()
df_mapas_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_uf      1 non-null      int64
 1   SG_UF      1 non-null      object
 2   geometria  1 non-null      object
dtypes: int64(1), object(2)
memory usage: 156.0+ bytes

   id_uf SG_UF                                          geometria
0     23    CE  POLYGON((-41.1775766682825 -4.46769665097272, ...

In [22]:
df_mapas_municipio = df_mapas_municipio[df_mapas_municipio['SG_UF'] == 'CE'].reset_index(drop=True)
df_mapas_municipio.info()
df_mapas_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  184 non-null    int64
 1   SG_UF         184 non-null    object
 2   geometria     184 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.4+ KB

   id_municipio SG_UF                                          geometria
0       2302503    CE  POLYGON((-38.940520466 -7.427975185, -39.07819...
1       2304657    CE  POLYGON((-40.76147804 -3.95063271500001, -40.7...
2       2306108    CE  POLYGON((-39.784873661 -3.631059518, -39.78686...
3       2311355    CE  POLYGON((-39.018526315 -6.00522936199999, -39....
4       2303006    CE  POLYGON((-38.984159556 -4.044386322, -39.00354...

In [23]:
df_diretorios_uf = df_diretorios_uf[df_diretorios_uf['SG_UF'] == 'CE'].reset_index(drop=True)
df_diretorios_uf.info()
df_diretorios_uf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_uf   1 non-null      int64
 1   SG_UF   1 non-null      object
 2   nome    1 non-null      object
 3   regiao  1 non-null      object
dtypes: int64(1), object(3)
memory usage: 164.0+ bytes

   id_uf SG_UF   nome    regiao
0     23    CE  Ceará  Nordeste

In [24]:
df_diretorios_municipio = df_diretorios_municipio[df_diretorios_municipio['SG_UF'] == 'CE'].reset_index(drop=True)
df_diretorios_municipio.info()
df_diretorios_municipio.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_municipio               184 non-null    int64
 1   id_municipio_6             184 non-null    int64
 2   id_municipio_tse           184 non-null    int64
 3   id_municipio_rf            184 non-null    int64
 4   id_municipio_bcb           184 non-null    int64
 5   nome_municipio             184 non-null    object
 6   capital_uf                 184 non-null    int64
 7   id_comarca                 184 non-null    int64
 8   id_regiao_saude            184 non-null    int64
 9   nome_regiao_saude          184 non-null    object
 10  id_regiao_imediata         184 non-null    int64
 11  nome_regiao_imediata       184 non-null    object
 12  id_regiao_intermediaria    184 non-null    int64
 13  nome_regiao_intermediaria  184 non-null    object
 14  id_microrregiao            184 non-null    int64
 15  nome_microrregiao          184 non-null    object
 16  id_mesorregiao             184 non-null    int64
 17  nome_mesorregiao           184 non-null    object
 18  id_regiao_metropolitana    46 non-null     object
 19  nome_regiao_metropolitana  46 non-null     object
 20  ddd                        184 non-null    int64
 21  id_uf                      184 non-null    int64
 22  SG_UF                      184 non-null    object
 23  nome_uf                    184 non-null    object
 24  nome_regiao                184 non-null    object
 25  amazonia_legal             184 non-null    int64
 26  centroide                  184 non-null    object
dtypes: int64(15), object(12)
memory usage: 38.9+ KB

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,nome_municipio,capital_uf,id_comarca,id_regiao_saude,nome_regiao_saude,...,nome_mesorregiao,id_regiao_metropolitana,nome_regiao_metropolitana,ddd,id_uf,SG_UF,nome_uf,nome_regiao,amazonia_legal,centroide
0,2308906,230890,14796,1479,39882,Morrinhos,0,2308906,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.0912592590751 -3.28414982234069)
1,2307908,230790,14591,1459,15387,Martinópole,0,2313906,23016,16ª Região Camocim,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.6475432371398 -3.16909619690766)
2,2307254,230725,13005,985,55512,Jijoca de Jericoacoara,0,2307254,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.4945113068936 -2.87872541898898)
3,2306553,230655,15954,1595,42336,Itarema,0,2306553,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-39.889228471988 -3.04919822403069)
4,2302305,230230,13455,1345,11594,Bela Cruz,0,2302305,23012,12ª Região Acaraú,...,Noroeste Cearense,NaN,NaN,88,23,CE,Ceará,Nordeste,0,POINT(-40.3079812473698 -3.05312040153093)

### IDH

In [25]:
df_idh = df_idh[df_idh['idh'].notna()].reset_index(drop=True)
df_idh

        territorialidades    idh estado            cidade
0                  Brasil  0.727    NaN            Brasil
1            Abaiara (CE)  0.628     CE          Abaiara
2            Acarape (CE)  0.606     CE          Acarape
3             Acaraú (CE)  0.601     CE           Acaraú
4           Acopiara (CE)  0.595     CE         Acopiara
..                    ...    ...    ...               ...
180      Uruburetama (CE)  0.639     CE      Uruburetama
181           Uruoca (CE)  0.566     CE           Uruoca
182          Varjota (CE)  0.611     CE          Varjota
183    Várzea Alegre (CE)  0.629     CE    Várzea Alegre
184  Viçosa do Ceará (CE)  0.571     CE  Viçosa do Ceará

[185 rows x 4 columns]

# Agrergação dos dados

### Votos

- agrupar votos por cidade e candidato

In [26]:
df_votos_agrupados = df_votos.groupby(['codigo_municipio','nome_municipio', 'nome_candidato'])[['total_votos']].sum().reset_index()
df_votos_agrupados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32017 entries, 0 to 32016
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   codigo_municipio  32017 non-null  int64
 1   nome_municipio    32017 non-null  object
 2   nome_candidato    32017 non-null  object
 3   total_votos       32017 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1000.7+ KB

### Furtos

- agrupar furtos por cidade e ano

In [27]:
df_furtos_agrupados = df_furtos.groupby(['nome_municipio', 'ano']).size().reset_index()
df_furtos_agrupados.rename(columns={0: 'total_furtos'}, inplace=True)
df_furtos_agrupados

     nome_municipio   ano  total_furtos
0           Abaiara  2010             3
1           Abaiara  2011             4
2           Abaiara  2012             6
3           Abaiara  2013             9
4           Abaiara  2014             8
...             ...   ...           ...
2692  Várzea Alegre  2019           118
2693  Várzea Alegre  2020            91
2694  Várzea Alegre  2021            97
2695  Várzea Alegre  2022           139
2696  Várzea Alegre  2023           110

[2697 rows x 3 columns]

# Exploração dos dados

In [28]:
df_votos_agrupados[['total_votos']].describe()

         total_votos
count   32017.000000
mean      175.639504
std      1636.398747
min         1.000000
25%         2.000000
50%         5.000000
75%        28.000000
max    119326.000000

In [29]:
df_idh[['idh']].describe()

              idh
count  185.000000
mean     0.617227
std      0.032610
min      0.540000
25%      0.599000
50%      0.612000
75%      0.633000
max      0.754000

In [30]:
df_censo.describe()

,codigo_regiao,codigo_uf,CD_MUN,total_setores,total_pessoas,total_domicilios,total_domicilios_particulares,total_domicilios_coletivos,total_domicilios_particulares_ocupados
count,184.0,184.0,1.840000e+02,184.000000,1.840000e+02,1.840000e+02,1.840000e+02,184.000000,184.000000
mean,2.0,23.0,2.307039e+06,107.663043,4.779868e+04,2.079351e+04,2.077517e+04,18.331522,16425.092391
std,0.0,0.0,4.038662e+03,329.812806,1.817221e+05,7.737620e+04,7.733907e+04,53.273435,64280.096034
min,2.0,23.0,2.300101e+06,15.000000,4.841000e+03,2.019000e+03,2.019000e+03,0.000000,1541.000000
25%,2.0,23.0,2.303925e+06,37.750000,1.378725e+04,6.032750e+03,6.028750e+03,2.000000,4635.250000
50%,2.0,23.0,2.306752e+06,59.000000,2.091350e+04,9.451000e+03,9.450000e+03,5.000000,7180.500000
75%,2.0,23.0,2.310630e+06,105.000000,4.018400e+04,1.780900e+04,1.780075e+04,11.250000,13539.000000
max,2.0,23.0,2.314102e+06,4422.000000,2.428708e+06,1.034611e+06,1.034146e+06,465.000000,860747.000000

In [31]:
df_furtos_agrupados.describe()

               ano  total_furtos
count  2697.000000   2697.000000
mean   2016.138673    295.921765
std       4.270792   2359.379159
min    2009.000000      1.000000
25%    2013.000000     11.000000
50%    2016.000000     29.000000
75%    2020.000000    105.000000
max    2023.000000  38444.000000

## Gerar as tabelas finais

### Votos

In [32]:
votos = df_votos[['ANO_ELEICAO', 'CD_TIPO_ELEICAO', 'NM_TIPO_ELEICAO', 'NR_TURNO', 'DT_ELEICAO', 'SG_UE','NM_UE','codigo_municipio','nome_municipio','NR_ZONA', 'NR_SECAO', 'CD_CARGO', 'DS_CARGO', 'NR_VOTAVEL', 'nome_candidato', 'total_votos']]

votos.rename(columns={
    'ANO_ELEICAO': 'ano_eleicao',
    'CD_TIPO_ELEICAO': 'codigo_tipo_eleicao',
    'NM_TIPO_ELEICAO': 'nome_tipo_eleicao',
    'NR_TURNO': 'numero_turno',
    'SG_UE': 'sigla_uf',
    'NM_UE': 'nome_uf',
    'codigo_municipio': 'id_municipio',
    'NR_ZONA': 'numero_zona',
    'NR_SECAO': 'numero_secao',
    'CD_CARGO': 'codigo_cargo',
    'DS_CARGO': 'nome_cargo',
    'NR_VOTAVEL': 'numero_candidato',
    'total_votos': 'total_votos'
}, inplace=True)

votos.to_csv('tabelas/VOTOS.csv', index=False)

votos

C:\Users\jllgo\AppData\Local\Temp\ipykernel_11500\2733079554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  votos.rename(columns={

,ano_eleicao,codigo_tipo_eleicao,nome_tipo_eleicao,numero_turno,DT_ELEICAO,sigla_uf,nome_uf,id_municipio,nome_municipio,numero_zona,numero_secao,codigo_cargo,nome_cargo,numero_candidato,nome_candidato,total_votos
0,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,13897,FORTALEZA,94,6,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4
1,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15377,RUSSAS,9,266,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13
2,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15997,PARAIPABA,109,119,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,3
3,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,14290,ITAPIPOCA,17,25,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,2
4,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15393,SABOEIRO,43,228,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056842,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,14079,IBIAPINA,73,74,6,DEPUTADO FEDERAL,40,Partido Socialista Brasileiro,1
1056843,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15377,RUSSAS,9,226,6,DEPUTADO FEDERAL,12,Partido Democrático Trabalhista,2
1056844,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15377,RUSSAS,9,226,6,DEPUTADO FEDERAL,13,Partido dos Trabalhadores,2
1056845,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15377,RUSSAS,9,226,6,DEPUTADO FEDERAL,15,Movimento Democrático Brasileiro,1
1056846,2022,2,ELEIÇÃO ORDINÁRIA,1,02/10/2022,CE,CEARÁ,15377,RUSSAS,9,226,6,DEPUTADO FEDERAL,21,Partido Comunista Brasileiro,1

In [40]:
votos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056847 entries, 0 to 1056846
Data columns (total 16 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ano_eleicao          1056847 non-null  int64
 1   codigo_tipo_eleicao  1056847 non-null  int64
 2   nome_tipo_eleicao    1056847 non-null  object
 3   numero_turno         1056847 non-null  int64
 4   DT_ELEICAO           1056847 non-null  object
 5   sigla_uf             1056847 non-null  object
 6   nome_uf              1056847 non-null  object
 7   id_municipio         1056847 non-null  int64
 8   nome_municipio       1056847 non-null  object
 9   numero_zona          1056847 non-null  int64
 10  numero_secao         1056847 non-null  int64
 11  codigo_cargo         1056847 non-null  int64
 12  nome_cargo           1056847 non-null  object
 13  numero_candidato     1056847 non-null  int64
 14  nome_candidato       1056847 non-null  object
 15  total_votos          1056847 non-null  int64
dtypes: int64(9), object(7)
memory usage: 129.0+ MB

### Candidatos

In [33]:
df_candidatos = df_votos[['nome_candidato', 'CD_CARGO','DS_CARGO', 'NR_VOTAVEL']].drop_duplicates().reset_index(drop=True)
df_candidatos.rename(columns={
    'CD_CARGO': 'codigo_cargo',
    'DS_CARGO': 'nome_cargo',
    'NR_VOTAVEL': 'numero_candidato'
}, inplace=True    
)

df_candidatos.to_csv('tabelas/CANDIDATOS.csv', index=False)

df_candidatos

,nome_candidato,codigo_cargo,nome_cargo,numero_candidato
0,HEITOR RODRIGO PEREIRA FREIRE,6,DEPUTADO FEDERAL,4444
1,NATÁLIA SOARES RIOS,6,DEPUTADO FEDERAL,1232
2,ALANDERSON DE CASTRO MANGUEIRA,6,DEPUTADO FEDERAL,4012
3,MARIA ZULEIDE ALMEIDA DE SOUSA,6,DEPUTADO FEDERAL,3620
4,MARIA GUERRA DE FARIAS,6,DEPUTADO FEDERAL,4011
...,...,...,...,...
391,FRANCISCA ANTONIA DE SOUSA SILVA,6,DEPUTADO FEDERAL,1118
392,ANTONIO CLEDMILSON VIEIRA PINHEIRO,6,DEPUTADO FEDERAL,1855
393,INGRID NAYARA DO NASCIMENTO FERNANDES,6,DEPUTADO FEDERAL,2090
394,ENAIDE PAULINO DE SOUZA,6,DEPUTADO FEDERAL,1421
395,ANTÔNIO RODRIGUES DA COSTA NETO,6,DEPUTADO FEDERAL,1999

In [41]:
df_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome_candidato    396 non-null    object
 1   codigo_cargo      396 non-null    int64
 2   nome_cargo        396 non-null    object
 3   numero_candidato  396 non-null    int64
dtypes: int64(2), object(2)
memory usage: 12.5+ KB

### Censo

In [34]:
df_censo.rename(columns={
    'codigo_uf': 'id_uf',
    'CD_MUNICIPIO': 'id_municipio',
    'NM_MUN': 'nome_municipio'
}, inplace=True)
df_censo.to_csv('tabelas/CENSO.csv', index=False)
df_censo

,codigo_regiao,nome_regiao,id_uf,nome_uf,CD_MUN,nome_municipio,total_setores,total_pessoas,total_domicilios,total_domicilios_particulares,total_domicilios_coletivos,media_moradores_domicilio_particular_ocupado,percentual_domicilios_particulares_ocupados,total_domicilios_particulares_ocupados
0,2,Nordeste,23,Ceará,2300101,Abaiara,45,10038,4358,4358,0,"2,868","0,742857143",3500
1,2,Nordeste,23,Ceará,2300150,Acarape,42,14027,5447,5446,1,"3,158783784","0,608108108",4440
2,2,Nordeste,23,Ceará,2300200,Acaraú,151,65264,26163,26129,34,"3,108055291","0,471877979",20980
3,2,Nordeste,23,Ceará,2300309,Acopiara,112,44962,22529,22523,6,"2,738706334","0,74986283",16403
4,2,Nordeste,23,Ceará,2300408,Aiuaba,45,14076,7059,7059,0,"2,854593389",NaN,4931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,2,Nordeste,23,Ceará,2313807,Uruburetama,40,20189,7969,7958,11,"3,154038431","0,796750508",6401
180,2,Nordeste,23,Ceará,2313906,Uruoca,38,13746,5936,5932,4,"2,945349336","0,150021432",4666
181,2,Nordeste,23,Ceará,2313955,Varjota,36,18105,7488,7486,2,"2,956223456","0,032669062",6122
182,2,Nordeste,23,Ceará,2314003,Várzea Alegre,109,38984,17842,17836,6,"2,773286843","0,611968975",14053
183,2,Nordeste,23,Ceará,2314102,Viçosa do Ceará,124,59712,22760,22748,12,"3,266728675","0,311867374",18277

In [42]:
df_censo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   codigo_regiao                                 184 non-null    int64
 1   nome_regiao                                   184 non-null    object
 2   id_uf                                         184 non-null    int64
 3   nome_uf                                       184 non-null    object
 4   CD_MUN                                        184 non-null    int64
 5   nome_municipio                                184 non-null    object
 6   total_setores                                 184 non-null    int64
 7   total_pessoas                                 184 non-null    int64
 8   total_domicilios                              184 non-null    int64
 9   total_domicilios_particulares                 184 non-null    int64
 10  total_domicilios_coletivos                    184 non-null    int64
 11  media_moradores_domicilio_particular_ocupado  184 non-null    object
 12  percentual_domicilios_particulares_ocupados   165 non-null    object
 13  total_domicilios_particulares_ocupados        184 non-null    int64
dtypes: int64(9), object(5)
memory usage: 20.3+ KB

### IDH

In [35]:
df_idh.rename(columns={
    'estado': 'nome_uf',
    'cidade': 'nome_municipio',
}, inplace=True)
df_idh.to_csv('tabelas/IDH.csv', index=False)
df_idh

        territorialidades    idh nome_uf    nome_municipio
0                  Brasil  0.727     NaN            Brasil
1            Abaiara (CE)  0.628      CE          Abaiara
2            Acarape (CE)  0.606      CE          Acarape
3             Acaraú (CE)  0.601      CE           Acaraú
4           Acopiara (CE)  0.595      CE         Acopiara
..                    ...    ...     ...               ...
180      Uruburetama (CE)  0.639      CE      Uruburetama
181           Uruoca (CE)  0.566      CE           Uruoca
182          Varjota (CE)  0.611      CE          Varjota
183    Várzea Alegre (CE)  0.629      CE    Várzea Alegre
184  Viçosa do Ceará (CE)  0.571      CE  Viçosa do Ceará

[185 rows x 4 columns]

In [43]:
df_idh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   territorialidades  185 non-null    object
 1   idh                185 non-null    float64
 2   nome_uf            184 non-null    object
 3   nome_municipio     185 non-null    object
dtypes: float64(1), object(3)
memory usage: 5.9+ KB

### Furtos

In [36]:
df_furtos_agrupados.to_csv('./tabelas/FURTOS.csv', index=False)
df_furtos_agrupados

     nome_municipio   ano  total_furtos
0           Abaiara  2010             3
1           Abaiara  2011             4
2           Abaiara  2012             6
3           Abaiara  2013             9
4           Abaiara  2014             8
...             ...   ...           ...
2692  Várzea Alegre  2019           118
2693  Várzea Alegre  2020            91
2694  Várzea Alegre  2021            97
2695  Várzea Alegre  2022           139
2696  Várzea Alegre  2023           110

[2697 rows x 3 columns]

In [45]:
df_furtos_agrupados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2697 entries, 0 to 2696
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome_municipio  2697 non-null   object
 1   ano             2697 non-null   int32
 2   total_furtos    2697 non-null   int64
dtypes: int32(1), int64(1), object(1)
memory usage: 52.8+ KB

### Municipio

In [37]:
df_diretorios_municipio = df_diretorios_municipio[['id_municipio','id_municipio_tse', 'id_uf','nome_municipio','centroide']]

df_diretorios_municipio.to_csv('./tabelas/MUNICIPIOS.csv', index=False)

df_diretorios_municipio

,id_municipio,id_municipio_tse,id_uf,nome_municipio,centroide
0,2308906,14796,23,Morrinhos,POINT(-40.0912592590751 -3.28414982234069)
1,2307908,14591,23,Martinópole,POINT(-40.6475432371398 -3.16909619690766)
2,2307254,13005,23,Jijoca de Jericoacoara,POINT(-40.4945113068936 -2.87872541898898)
3,2306553,15954,23,Itarema,POINT(-39.889228471988 -3.04919822403069)
4,2302305,13455,23,Bela Cruz,POINT(-40.3079812473698 -3.05312040153093)
...,...,...,...,...,...
179,2308302,14672,23,Milagres,POINT(-38.9385959382575 -7.2764241837549)
180,2307205,14451,23,Jati,POINT(-38.9898423854891 -7.69523799757998)
181,2310605,15130,23,Penaforte,POINT(-39.0527149785462 -7.78312894250124)
182,2302503,13498,23,Brejo Santo,POINT(-38.921849415198 -7.55560992687383)
183,2300101,13013,23,Abaiara,POINT(-39.0376795021194 -7.35979881293125)

In [46]:
df_diretorios_municipio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_municipio      184 non-null    int64
 1   id_municipio_tse  184 non-null    int64
 2   id_uf             184 non-null    int64
 3   nome_municipio    184 non-null    object
 4   centroide         184 non-null    object
dtypes: int64(3), object(2)
memory usage: 7.3+ KB

### Estados

In [48]:
df_estados = df_diretorios_uf.merge(df_mapas_uf[['id_uf','geometria']], on='id_uf')
df_estados.rename(columns={'SG_UF': 'sigla_uf', 'nome': 'nome_uf'}, inplace=True)

df_estados.to_csv('./tabelas/ESTADOS.csv', index=False)

df_estados

,id_ud,sigla_uf,nome_uf,regiao,geometria
0,23,CE,Ceará,Nordeste,"POLYGON((-41.1775766682825 -4.46769665097272, ..."

In [49]:
df_estados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_ud      1 non-null      int64
 1   sigla_uf   1 non-null      object
 2   nome_uf    1 non-null      object
 3   regiao     1 non-null      object
 4   geometria  1 non-null      object
dtypes: int64(1), object(4)
memory usage: 172.0+ bytes